---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <aside class="note-aside">
      <h3 class="backlinks-title">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <ul class="backlinks">
        {% for backlink in page.backlinks %}
        <li class="backlink-item">
          <a class="internal-link" href="{{ backlink.url | relative_url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
          <div class="backlink-excerpt">{{ backlink.excerpt | strip_html | truncatewords: 12 }}</div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="backlinks-empty">There are no notes linking to this note.</div>
      {% endif %}
    </aside>

    <div class="content-section">
      {{ content }}

      <p>     ┬─┬ノ( º _ ºノ)     </p>

    </div>
  </div>
</article>

<hr>

<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>

{% include notes_graph.html title='Graph' height_factor=0.45 compact_tags=true %}
